.card {
  margin: 15px;
  width: 225px;
  height: 200px;
  text-align: center;
  align-items: center;
  text-transform: capitalize;
  box-sizing: border-box;
  box-shadow: -7px 7px 2px 0px whitesmoke;
}

.card>button {
  width: 110px;
}

.card>p {
  margin-top: 6px;
  font-weight: 600;
  margin-bottom: 10px;
}

.card>img {
  max-width: 180px;
  max-height: 120px;
}

.quantityInput {
  margin-top: 4px;
  width: 45px;
  border: 1px solid black;
}

.notify-add-item {
  max-width: 80px;
  max-height: 20px;
  background-color: lightyellow;
  transition: 0.8s ease-in-out;
}

@media all and (max-width: 750px) {
  .card {
    width: 250px;
  }

  .card>img {
    height: 85px;
  }

  .card>button {
    max-width: 90%;
    font-size: 10px;
  }
}

@media all and (max-width: 500px) {
  .card {
    width: 100px;
    height: 125px;
  }

  .card>img {
    max-width: 70px;
    max-height: 50px;
    margin-top: 5px;
  }

  .card>p {
    font-size: 13px;
    word-break: break-word;
    font-weight: 500;
  }
}
