<div class="header">

  <div class="headline">
    <h1>Retails R us</h1>
  </div>

  <div class="divisions">
    <div class="row">
      <div class="col">
        <div *ngIf="usersService.firstName" ngbDropdown class="d-inline-block">
          <h3 id="dropdownBasic1" ngbDropdownToggle>Categories</h3>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdownMenu">
            <button ngbDropdownItem (click)="moveToSpecificCategory(0)">All Products</button>
            <button ngbDropdownItem (click)="moveToSpecificCategory(category.categoryId)"
              *ngFor="let category of categories">{{category.categoryName}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="navbar">
    <div class="userActions">
      <h3 *ngIf="!usersService.firstName" (click)="moveToLoginPage()">Log In</h3>
      <h3 *ngIf="usersService.firstName" (click)=" logout()">Log Out</h3>
      <p *ngIf="usersService.firstName">Welcome {{usersService.firstName}}</p>
      <p *ngIf="!usersService.firstName">Welcome Guest</p>
    </div>

  </div>
</div>
