.header {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #0071dc;
  font-family: BogleWeb, Helvetica Neue, Helvetica, Arial, sans-serif;
  position: fixed;
  z-index: 101;
  width: 100%;
  text-transform: capitalize;
  justify-content: space-between;
}

.headline {
  margin-left: 40px;
  color: white;
}

.navbar {
  display: flex;
  color: white;
  font-size: 20px;
  margin-left: 800px;
  padding-right: 40px;
}

.divisions {
  display: flex;
  cursor: pointer;
  margin-left: 80px;
  color: white;
}

.divisions>h3 {
  margin-left: 25px;
}

.dropdownMenu>h3 {
  color: black;
  background-color: white;
  font-family: BogleWeb, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.ng-fa-icon {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.userActions {
  display: flex;
  margin-left: 80px;
  align-items: center;
}

.userActions>.ng-fa-icon {
  font-size: 25px;
}

.userActions>h3 {
  margin-left: 70px;
  cursor: pointer;
}

.userActions>p {
  margin-left: 50px;
  align-items: center;
  font-size: 25px;
  margin-top: 7px;
}

h3>.ng-fa-icon {
  margin-right: 5px;
  align-items: center;
}

.dropdownMenu {
  font-size: 18px;
}

.cart-icon {
  display: none;
}

@media all and (max-width:1600px) {
  .header {
    display: flex;
    justify-content: space-between;
  }

  .navbar {
    margin-left: 0px;
  }
}

@media all and (max-width: 1000px) {
  .navbar, .ng-fa-icon, .userActions>p, h3, h1 {
    font-size: 18px;
  }
}

@media all and (max-width: 750px) {
  .header {
    display: flex;
    justify-content: space-between;
    height: 80px;
  }

  .headline {
    margin-left: 35px;
  }

  .divisions {
    display: none;
  }

  .userActions {
    margin-left: 0px;
  }

  .userActions>p {
    display: none;
  }

  .cart-icon {
    display: block;
  }

  .userActions>h3 {
    margin-left: 40px;
  }
}
