.productsPage {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

aside {
  display: inline-block;
  position: fixed;
}

.products-container {
  width: calc(100% - 400px);
  position: relative;
  margin-left: 370px;
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  overflow-y: auto;
  overflow-x: hidden;
}

.searchInput {
  padding-top: 130px;
  position: relative;
  left: 1590px;
}

.searchInput > input {
  width: 275px;
  border-radius: 15px;
  padding-left: 15px;
}

@media all and (max-width: 1000px){
  .searchInput {
    left: 300px;
  }

  .products-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    overflow-x: hidden;
    justify-content: start;
    margin-left: 250px;
  }
}

@media all and (max-width: 900px){
  .products-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    justify-content: start;
    margin-left: 300px;
  }

}

@media all and (max-width: 765px){
  .products-container{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    overflow-x: hidden;
    justify-content: start;
    margin-left: 300px;
  }
}

@media all and (max-width: 600px){
  .searchInput {
    display: none;
  }

  .products-container{
    top: 130px;
    margin-left: 250px;
  }
}
