@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css");

i {
  cursor: pointer;
}

.adminPage {
  padding-top: 120px;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Arimo', sans-serif;
}

.adminActions {
  text-align: center;
  margin-bottom: 25px;
}

.adminActions>button {
  margin-right: 10px;
}

.adminActions>.btn-light {
  border: 2px solid black;
}

h3 {
  text-align: center;
  text-decoration: underline;
}

.addProductDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin-top: 30px;
}

app-file-upload {
  margin-left: 20px;
}


form>input {
  margin-right: 20px;
}

select {
  margin-right: 20px;
  width: 210px;
  height: 38px;
}

input {
  height: 38px;
}

.addProductDiv>h4 {
  margin-right: 20px;
  text-decoration: underline;
  align-items: center;
}


.editProductForm {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}


.editProductForm>input {
  margin-right: 20px;
}

.editProductForm>h4 {
  margin-right: 20px;
  text-decoration: underline;
  align-items: center;
}

.tableContainer {
  margin: 30px 50px 20px 50px;
  text-transform: capitalize;
}

table {
  border: 1px solid black;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

tr:nth-child(even) {
  background-color: #d8e5f1;
}

th {
  font-weight: 700;
}

th, td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 200px;
}

.categoriesTableContainer {
  margin: 30px 50px 20px 50px;
}

.addCategory {
  text-align: center;
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addCategoryForm>input {
  margin-left: 15px;
  margin-right: 15px;
}

.addCategory>h4 {
  text-decoration: underline;
  align-items: center;
}

summary {
  margin-left: 200px;
  margin-top: 10px;
  font-size: 12px;
}

td>img {
  width: 50px;
  height: 50px;
}

@media all and (max-width: 900px) {
  .addProductDiv, .editProductForm {
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
  }

  form>input, select {
    display: flex;
    flex-flow: column;
    margin-top: 10px;
  }

  summary {
    margin-left: 300px;
  }

  form>button {
    margin-left: 65px;
    margin-top: 10px;
  }

  app-file-upload {
    margin-top: 10px;
  }

  .addCategory {
    display: flex;
    flex-flow: column wrap;
  }

  .addCategoryForm > button {
    margin-top: 10px;
    margin-left: 20px;
  }

  h4 {
    margin-bottom: 10px;
  }
}

@media all and (max-width: 600px) {
  #tableHeadImageAdmin, #tableDataImageAdmin {
    display: none;
  }
  summary {
    margin-left: 200px;
  }

  table {
    word-break: break-word;
    font-size: 12px;
    margin: 30px 30px 20px 15px
  }

  select {
    width: 203px;
  }
}

@media all and (max-width: 400px){
  summary{
    margin-left: 50px;
  }
}
